$backgroundColor: var(bgcolor);
$fontSize: calc(10px + 2vmin);

.nav {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 36px;
  background: #FFF;
}

.todobox {
  padding: 8px;
  margin: 0 0 8px 0;
  min-height: 50px;
  font-size: calc(10px + 1vmin);

  .title {
    font-weight: bold;
  }

  .time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: calc(10px + 1vmin);
  }
}