$headerBackGround: #282c34;
$buttonColor: #09d3ac;
$fontSize: calc(10px + 2vmin);

.App-header {
  background-color: $headerBackGround;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: $fontSize;
  color: white;

  h2 {
    margin-left: 10px;
  }

  button {
    font-size: $fontSize;
    background-color: $buttonColor;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
  }

  :link {
    font-size: $fontSize;
    background-color: $buttonColor;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    // text-decoration: none;
  }
}